<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdn.firebase.com/js/client/2.4.1/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
<script src="controllers/indexController.js"></script>
<script src="controllers/userController.js"></script>
<script src="https://checkout.stripe.com/checkout.js"></script>

<head>
    <title style="color:#FFFFFF;">Sit Home</title>
    <meta charset="utf-8">
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript">
        addEventListener("load", function() {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

    </script>
    <!--webfonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:600italic,400,300,600,700' rel='stylesheet' type='text/css'>
    <!--//webfonts-->
</head>

<body ng-app="snowmanApp" ng-controller="indexController">
    <div ng-if="isAuthenticated == false" class="login-form">
        <form>
            <img src="C:\Users\Brian Scott\Documents\Spring 2016\CSC 518\CareSit\images\baby-face.jpg" alt="" />
            <br/>&nbsp;
            <li>
                <input type="text" class="text" ng-model="username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'USERNAME';}">
                <a href="#" class=" icon user"></a>
            </li>
            <li>
                <input type="password" ng-model="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                <a href="#" class=" icon lock"></a>
            </li>
            <div align="center">
                <input type="submit" ng-click="login()" value="SIGN IN">
            </div>
        </form>
    </div>

    <div ng-if="isAuthenticated == true">
        <h1 style="color:#FFFFFF;">Welcome {{ userEmail }} - {{ role }}</h1>
        <button ng-click="logout()">logout</button>

        <div id="main" ng-if="role == user" ng-controller="userController">
            <script>
                var handler = StripeCheckout.configure({
                    key: 'pk_test_sK0NKfB11WtkSFxyDGdna35M',
                    image: '/img/documentation/checkout/marketplace.png',
                    locale: 'auto',
                    token: function(token) {
                        var scope = angular.element(document.getElementById("main")).scope();
                        scope = scope.$$childHead;
                        var serviceName = scope.service_name;
                        var startTime = scope.start_time;
                        var endTime = scope.end_time;
                        var startDate = scope.start_date;
                        var endDate = scope.end_date;

                        $.post("http://localhost:3000/checkout", {
                            stripeToken: token.id,
                            amount: 2000
                        }, function(result) {
                            console.log(result);
                            if (result == 'success') {
                                $scope.reset();
                                $scope.submitServiceRequest()
                            } else {
                                console.log("fuck! my ass!")
                            }
                        });
                    }
                });

                function purchaseButtonPressed() {
                    var scope = angular.element(document.getElementById("main")).scope();
                    scope = scope.$$childHead;
                    var serviceName = scope.service_name;
                    var startTime = scope.start_time;
                    var endTime = scope.end_time;
                    var startDate = scope.start_date;
                    var endDate = scope.end_date;

                    handler.open({
                        name: 'careSit Checkout',
                        description: 'Care',
                        amount: 2000
                    });
                }

                $(window).on('popstate', function() {
                    handler.close();
                });

            </script>
        </div>

        <table width="100%">
            <tr>
                <td width="50%">
                    <form novalidate>
                        <h3 style="color:#FFFFFF;">Service Name:</h3>
                        <input type="text" placeholder="description" ng-model="service_name" style="color:#FFFFFF; border:2px; border-style:solid; border-color:#000000;">
                        <h3 style="color:#FFFFFF;"> Start Date:</h3>
                        <input type="text" placeholder="month and number" ng-model="start_date" style="color:#FFFFFF; border:2px; border-style:solid; border-color:#000000;">
                        <h3 style="color:#FFFFFF;"> Start Time:</h3>
                        <input type="text" placeholder="time AM/PM" ng-model="start_time" style="color:#FFFFFF; border:2px; border-style:solid; border-color:#000000;">
                        <h3 style="color:#FFFFFF;"> End Date:</h3>
                        <input type="text" placeholder="month and number" ng-model="end_date" style="color:#FFFFFF; border:2px; border-style:solid; border-color:#000000;">
                        <h3 style="color:#FFFFFF;"> End Time:</h3>
                        <input type="text" placeholder="time AM/PM" ng-model="end_time" style="color:#FFFFFF; border:2px; border-style:solid; border-color:#000000;">
                    </form>
                    <button onclick="purchaseButtonPressed()">Purchase</button>
                </td>
                <td>
                    <h3 style="color:#FFFFFF;">Pending Requests (no provider yet):</h3>
                    <ul>
                        <li style="color:#FFFFFF;" ng-repeat="obj in service_request_data | filter:{ provider: 'n/a'}">{{ obj.name }} {{ obj.startDate }} @ {{ obj.startTime }} - {{ obj.endDate }} @ {{ obj.endTime }} </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    <h3 style="color:#FFFFFF;">Incomplete Jobs:</h3>
                    <ul>
                        <li style="color:#FFFFFF;" ng-repeat="obj in service_request_data | filter:{ completed: false, provider: '!n/a'}">{{ obj.name }} {{ obj.startDate }} @ {{ obj.startTime }} - {{ obj.endDate }} @ {{ obj.endTime }} ({{ obj.provider}})</li>
                    </ul>
                </td>
                <td>
                    <h3 style="color:#FFFFFF;">Completed Jobs:</h3>
                    <ul>
                        <li style="color:#FFFFFF;" ng-repeat="obj in service_request_data | filter:{ completed: true}">{{ obj.name }} {{ obj.startDate }} @ {{ obj.startTime }} - {{ obj.endDate }} @ {{ obj.endTime }} ({{ obj.provider}})</li>
                    </ul>
                </td>
            </tr>
        </table>
    </div>
</body>

</html>
